<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/stylesheets/main.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header"></div>
        <div class="menu">
            <div class="menu_item">
                <a href="/home">Home</a>
            </div>
            <div class="menu_item">
                User 
            </div>
            <div class="menu_item">
                <a href="/question">Question</a>
            </div>
            <div class="menu_logout">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="content_home">
            <form class="q_form" method="POST" action="/storeuser">
                <label for="id_q">Username</label><br>
                <input type="text" id="id_q" name="id_q" size="50"><br>
                <label for="description">Email</label><br>
                <input type="text" id="description" name="description" size="50"><br>
                <label for="answer1">Password</label><br>
                <input type="text" id="answer1" name="answer1" size="50"><br>
                <label for="answer2">Admin:</label><br>
                <input type="text" id="answer2" name="answer2" size="50"><br>
                <br>
                <input type="submit" value="Submit">
              </form> 
              
        </div>
    </body>

</html>