<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/stylesheets/signup.css" rel="stylesheet"/>

    </head>
    <body>
        <div class="content">
            <div class="content_image"></div>
            <div class="content_signup">
                <h1>Welcome</h1>
                <form class="content_form" method="POST">
                    <input type="text" class="sign_up_form_field" placeholder="Username" autocomplete="off">
                    <input type="password" class="sign_up_form_field" placeholder="Password" autocomplete="off">
                    <button type="submit" class="sign_up_form_submit">Login</button>
                    <div class="text">Don't have an acount yet?</div>
                    <div class="create"><a href="/signup">Create an acount</a></div>
                </form>
            </div>
        </div>
    </body>
</html>